body {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('jibwallpaper.png');
    background-size: 1759px 800px;
    overflow: hidden;
    z-index: -1;
    margin: 0;
    padding: 0;
}
* {
    font-family: Mali, sans-serif;
}
.wrapper-main {
    padding: 0;
    margin: 0 auto;
}
.mainmenu {
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
    background-repeat: no-repeat;
    background-size: 1759px 100px;
    width: 1759px;
    height: 100px;
    position: relative;
    border: 1px solid black;
    box-shadow: 1px 1px 10px white;
    left: -225px;
    top: -20px;
    transform: scale(0.8);
}

.pic1 {
    border-radius: 60px;
    border: 3px solid black;
    box-shadow: 0 0 10px rgb(254, 237, 0);
    height: 60px;
    width: 60px;
    position: relative;
    left: 80px;
    top: 20px;
}

.headline {
    position: relative;
    top: -60px;
    left: 170px;
}
.profilepic {
    height: 200px;
    width: 300px;
    position: relative;
    top: 15px;
    left: 25px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(88, 88, 88);
}
.ndpic {
    width: 325px;
    position: relative;
    top: 20px;
    left: 15px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(88, 88, 88);
}
.maininfonew1, .maininfonew2, .maininfonew3 {
    position: relative;
    background-color: rgba(240, 248, 255, 0.696);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}
.maininfonew1 {
    height: 230px;
    width: 350px;
    left: 40px;
}

.maininfonew2 {
    height: 230px;
    width: 350px;
    top: 20px;
    left: 40px;
}

.maininfonew3 {
    height: 480px;
    width: 940px;
    top: -465px;
    left: 420px;
    text-shadow: 2px 2px 2px rgb(118, 117, 117);
}
.info {
    padding-left: 30px;
    padding-top: 15px;
    line-height: 1.6;
    position: relative;
    top: -10px;
}

.browntext {
    color: rgb(112, 0, 0);
}

.bluetext {
    color: rgb(2, 0, 109);
}
.groupcontent {
    position: relative;
    left: 5px;
}
